@import "variables";

#categories {
  min-height: 400px;

  .delete-form {
    margin-top: 10px;

    .primary {
      background: $red;
      color: $mate-white;
    }
  }
}

#category-detail {

  min-height: 400px;

  .header {
    padding: 20px 0 0 0;
  }

  .product-list {
    padding: 20px;

    .category-item {
      cursor: pointer;
      background: $mate-white;
      border: 2px $gray solid;
      transition: all 0.5s ease;

      img {
        width: 100%;
        object-fit: cover;
        padding: 0 0 10px 0;
      }

      span {
        padding: 10px 0 0 0;
      }
    }

    .category-item.toggled {
      border: 2px $orange solid;
    }
  }
}

.category-item {
  background: $gray;
  padding: 15px;
  border-radius: 1px;
  margin-bottom: 20px;

  span.title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $black;
    font-weight: 600;
    padding: 0 10px 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
    display: inline;
    float: right;

    li {
      background: $white;
      border-radius: 3px;
      width: 25px;
      height: 25px;
      padding: 3px 0 0 0;
      list-style: none;
      color: $black ;
      display: inline;
      float: left;
      margin: 0 5px;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease;

      i {
        font-size: 1.5rem;
      }
    }

    li:hover {
      color: $mate-white;
      background: $orange;
    }

    li.disabled:hover,
    li.disabled {
      background: $black;
      color: $white;
      cursor: not-allowed;
    }
  }
}