@import "variables";

#categories {
  min-height: 400px;
}

#category-detail {

  min-height: 400px;

  .header {
    padding: 20px 0 0 0;
  }
}

.category-item {
  background: #F9F9F9;
  padding: 15px;
  border-radius: 3px;
  border: 1px #CECECE solid;
  margin-bottom: 20px;

  span {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $black;
    font-weight: 600;
  }

  ul {
    margin: 0;
    padding: 0;
    display: inline;
    float: right;

    li {
      background: #333;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      padding: 2px 0 0 6px;
      list-style: none;
      color: #dcdcdc;
      display: inline;
      float: left;
      margin: 0 5px;
      cursor: pointer;

      i {
        font-size: 1.5rem;
      }
    }
  }
}