@import "variables";

#footer {
  padding: 20px 0 5px 0;
  background: $black url('footer-bg-pattern.png') repeat;
  background-size: 350px;
  color: $white;

  span {
    font-size: 2rem;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    margin: 0 0 10px 0;
    li {
      list-style: none;
      color: rgba(255,255,255,0.6);
      font-size: 1.2rem;
      padding: 5px 0;
      text-transform: uppercase;
    }
  }

  .divider {
    margin: 20px 15px 5px 15px;
    height: 1px;
    background-color: rgba(172, 172, 172, 0.15);
  }

  .sign {
    font-size: 1.2rem;
    color: rgba(172, 172, 172, 0.15);
  }
}