@import "variables";

header-component {
  .main-header {
    background: $orange;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      text-align: center;

      a {
        color: $white;
      }
    }
  }

  .menu {
    background: $black;
  }

  .log-in {
      background-color: $light-black;
      a {
        color: $white;
      }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      text-align: center;

      a {
        color: #FFFFFF;
      }
    }
  }
}

