@import "variables";

#home {
  background-color: $gray;

  .carousel-inner {
    div {
      width: 100%;
      height: 332px;
    }

    img {
      position: absolute;
      top: 50px;
      left: 100px;
    }


    .header {
        background-color: $orange;
        color: $mate-white;
        padding: 15px 20px;
        position: absolute;
        text-transform: uppercase;
        font-size: 3rem;
        left: 55%;
        top: 100px;
    }

    .sub-header {
      background-color: $black;
      color: $mate-white;
      padding: 15px 20px;
      position: absolute;
      text-transform: uppercase;
      font-size: 2rem;
      animation-delay: 0.7s;
      left: 55%;
      top: 172px;
    }

    a:hover {
      text-decoration: none;
    }
    /*
    .description {
      background-color: $mate-white;
      color: $black;
      padding: 15px 20px;
      position: absolute;
      text-transform: uppercase;
      font-size: 2rem;
      animation-delay: 0.8s;
      left: 50%;
      top: 48%;
    }

    .product-new {
      position: absolute;
      top: 100%;
      margin-top: -495px;
    }
    */
  }

  .carousel-control,
  .carousel-indicator {
    display: none;
  }


  .products {
    text-align: center;
    background: $mate-white;
    margin: 0 0 10px 0;

    -webkit-box-shadow: 0 10px 21px -3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 10px 21px -3px rgba(0,0,0,0.4);
    box-shadow: 0 10px 21px -3px rgba(0,0,0,0.4);

    .float-label {
      position: absolute;
      top: 15px;
      left: -15px;
      z-index: 1;

      span {
        display: inline-block;
        height: 50px;
        padding: 15px 20px;
        background-color: $orange;
        color: $mate-white;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.5s ease;
      }

      span:hover {
        transform: translate(-20px);
      }
    }

    .product {
      padding: 50px 30px 0 30px;
      min-height: 200px;
      display: inline-block;
      transition: all 0.5s ease;

      img {
        width: 100%;
        object-fit: cover;
        height: 200px;
        padding: 5px;
      }

      img:hover {
        border: 50px red solid;
      }

      span {
        font-size: 2rem;
      }

      p {
        color: $orange;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        transition: all 0.5s ease;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgba(0, 0, 0, 0.1);

        a {
          color: #FFF;
          background: #F38617;
          padding: 10px;
          position: absolute;
          margin-left: -35px;
          transition: all 0.5s ease;
          top: 100%;
          left: 50%;
        }
      }

      .overlay:hover {
        opacity: 1;

        a {
          margin-top: -60%;
        }
      }

    }

    .product:last-child {
      border: none;
    }

    .product:hover {
      padding: 50px 5px 0 5px;
    }

  }

}