@import "header";
@import "home";
@import "categories";

.btn-primary {
  background-color: $orange;
  border-color: $orange-border;
}

.btn-primary:hover {
  background-color: $orange-black;
  border-color: $orange-border
}
