@import "variables";

#products {
  min-height: 400px;
}

#product-detail {

  min-height: 400px;
  padding: 20px 0 40px 0;

  .picture-select {
    height: 165px;
    width: 100%;
    border: 2px #CCCCCC dashed;
    background: url("nophoto.png") 50% 50%;
    background-size: contain;
    cursor: pointer;
  }

  .pictures-container {
    display: flex;
    margin: 0 0 10px 0;

    .pictures-select {
      flex: auto;
      height: 125px;
      border: 2px #CCCCCC dashed;
      background: url("nophoto.png") 50% 50%;
      background-size: contain;
      cursor: pointer;
      margin: 0 5px 0 0;
    }

    .pictures-select:last-child {
      margin: 0 0 0 0;
    }
  }

}
