@import "variables";

#products-import {

  .product-list {
    margin: 0 0 30px 0;

    .category-item {
      cursor: pointer;
      box-shadow: rgba(34, 25, 25, 0.4) 0 2px 3px;
      background: $mate-white;
      display: inline-block;
      border: 2px $gray solid;
      transition: all 0.5s ease;
      margin: 0;

      img {
        width: 100%;
        object-fit: cover;
        padding: 0 0 10px 0;
        max-height: 165px;
      }

      span {
        padding: 10px 0 0 0;
      }

      .overlay {
        background: rgba(0,0,0,.4);
        position: relative;
        top: 0;
        left: 0;
      }
    }

    .category-item.toggled {
      border: 2px $orange solid;
    }

    .category-item.disabled {
      cursor: not-allowed;
      background: $gray;
    }

  }

  .config-list {
    padding: 0;
    list-style: none;

    li {
      padding: 20px 0;

      .circled {
        background: $orange;
        color: $mate-white;
        border-radius: 50%;
        font-size: 18px;
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 8px 0 0 0;
        margin: 0 10px 0 0;
      }
    }
  }

}