@import "variables";

#products {
  min-height: 400px;

  span.title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $black;
    font-weight: 600;
    padding: 0 10px 0 0;
  }
}

#product-detail {

  min-height: 400px;
  padding: 20px 0 40px 0;

  textarea {
    resize: none;
  }

  .input-group.labeled,
  input.labeled {
    margin: 24px 0 0 0;
  }

  .picture-select {
    height: 165px;
    width: 100%;
    border: 2px #CCCCCC dashed;
    background: url("nophoto.png") 50% 50%;
    background-size: contain;
    cursor: pointer;
  }

  img.picture-select {
    object-fit: cover;
  }

  .pictures-container {
    display: flex;
    margin: 0 0 10px 0;

    .pictures-select {
      flex: auto;
      height: 125px;
      border: 2px #CCCCCC dashed;
      background: url("nophoto.png") 50% 50%;
      background-size: contain;
      cursor: pointer;
      margin: 40px 5px 0 0;
    }

    img.pictures-select {
      object-fit: cover;
      max-width: 155px;
    }

    .pictures-select:last-child {
      margin-right: 0;
    }
  }

}
