@import "variables";

#products-import {

  .product-list {
    padding: 20px 15px;
    text-align: center;

    .category-item {
      cursor: pointer;
      box-shadow: rgba(34, 25, 25, 0.4) 0 2px 3px;
      background: $mate-white;
      display: inline-block;
      margin: 0 10px 10px 0;
      width: 114px;
      border: 2px $gray solid;
      transition: all 0.5s ease;

      img {
        width: 100%;
        object-fit: cover;
        padding: 0 0 10px 0;
      }

      span {
        padding: 10px 0 0 0;
      }
    }

    .category-item.toggled {
      border: 2px $orange solid;
    }

  }

}