@import "variables";

#products {
  min-height: 400px;

  h3.title {
    margin: 5px 10px 5px 0;
  }

  span.title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $black;
    font-weight: 600;
    padding: 0 10px 0 0;
  }

  span.state {
    padding: 2px 4px;
    color: $mate-white;
    border-radius: 2px;
    font-weight: 100;
    font-size: 12px;
  }

  span.state.title {
    margin: 7px 0 0 0;
  }

  span.state.not_paid {
    background-color: $red;
  }

  span.state.paid {
    background-color: $green;
  }

  span.state.canceled {
    background-color: $yellow;
    color: $black;
  }

  .btn-lg.btn-primary {
    margin: 0 0 0 10px;
  }

  .delete-form {
    margin-top: 10px;

    .primary {
      background: $red;
      color: $mate-white;
    }
  }
}

#product-detail {

  min-height: 400px;
  padding: 20px 0 40px 0;

  textarea {
    resize: none;
  }

  .input-group.labeled,
  input.labeled {
    margin: 24px 0 0 0;
  }

  .picture-select {
    height: 165px;
    width: 100%;
    border: 2px #CCCCCC dashed;
    background: url("nophoto.png") no-repeat 50% 50%;
    background-size: contain;
    cursor: pointer;
  }

  .picture-select.invalid {
    border-color: $red;
  }

  img.picture-select {
    object-fit: cover;
  }

  .pictures-container {
    display: flex;
    margin: 0 0 10px 0;

    .pictures-select {
      flex: auto;
      height: 125px;
      border: 2px #CCCCCC dashed;
      background: url("nophoto.png") 50% 50%;
      background-size: contain;
      cursor: pointer;
      margin: 40px 5px 0 0;
    }

    img.pictures-select {
      object-fit: cover;
      max-width: 155px;
    }

    .pictures-select:last-child {
      margin-right: 0;
    }
  }

}
