$orange: #ff6600;
$orange-black: #D87E22;
$orange-border: #B55B00;

$black: #333333;
$light-black: #424242;
$lighter-black: #666666;
$white: #DCDCDC;
$mate-white: #FFFFFF;

$gray: #ECECEC;
$gray-border: #CCCCCC;

$red: #E84A4A;