<div class="container" id="buy">
    <div class="col-md-2"></div>
    <div class="col-md-8 summary">
        <div class="col-md-12">
            <h2 class="pull-left">Compra exitosa!</h2>
        </div>
        <div class="col-md-12">
            <p>Recibirás un e-mail con los datos de contacto y poder obtener tu producto.</p>
        <div class="col-md-12">
            <a class="btn btn-primary pull-right" ui-sref="buys()">Ir a compras</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>