<div class="container" id="buy">
    <div class="col-md-3">
        <div class="row">
            <img class="thumbnail-image"
                 alt=""
                 ng-src="{{buy.entity.principalImage}}">
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <span class="col-md-12">Hola Maxi! <small>no soy yo.</small></span>
            <p>Revisa tu compra</p>
        </div>
        <div class="row">
            <p>Stock</p>
            <p>Medios de pago</p>
        </div>
        <div class="row">
            Comprar!
        </div>
    </div>
</div>