<div id="footer">
    <div class="container">
        <div class="col-md-3">
            <span>E-Partner-Shop</span>
            <ul>
                <li>Acerca de nosotros</li>
                <li>Contáctanos</li>
                <li>Preguntas frecuentes</li>
            </ul>
        </div>
        <div class="col-md-3">
            <span>Menú</span>
            <ul>
                <li>Inicio</li>
                <li>Categorías</li>
            </ul>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="divider"></div>
    <div class="container">
        <div class="col-md-12">
            <span class="sign">© 2016, E-Partner Shop.</span>
        </div>
    </div>
</div>