<div id="footer">
    <div class="container">
        <div class="col-md-3">
            <span>E-Partner-Shop</span>
            <li>
                <ul></ul>
            </li>
        </div>
        <div class="col-md-3">
            <span>Menú</span>
            <li>
                <ul></ul>
            </li>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="divider"></div>
    <div class="container">
        <div class="col-md-12">
            <span>© 2016, E-Partner Shop.</span>
        </div>
    </div>
</div>