<div class="container" id="highlights">
    <div class="row" style="padding: 20px 0;">
        <div class="col-md-6">
            <h3>Destacados</h3>
        </div>
        <div class="col-md-6">
            <a
                class="btn-lg btn-primary pull-right"
                ui-sref="highlights-detail({id: null})">Nuevo destacado</a>

            <div class="search-form pull-right">
                <form ng-submit="ctrl.init()">
                    <input type="text" placeholder="B&uacute;sca destacados" ng-model="ctrl.query">
                    <span>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-if="ctrl.highlights.length === 0">
            <div class="alert alert-info" role="alert">
                No existen destacados creados, por favor cree uno <a ui-sref="highlights-detail({id: null})">aqu&iacute;</a>.
            </div>
        </div>
        <div class="col-md-12" ng-if="ctrl.params.created">
            <div class="alert alert-success" role="alert">
                Destacado creado correctamente.
            </div>
        </div>
        <div class="col-md-12" ng-repeat="highlight in ctrl.highlights">
            <div class="category-item">
                <div class="row">
                    <div class="col-md-6">
                        <span class="title">{{highlight.name}}</span>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li ui-sref="highlights-detail({id: highlight.id})">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 more-button" ng-if="!ctrl.last">
            <a class="btn-lg btn-primary" ng-click="ctrl.loadMoreTags()">Mostrar más</a>
        </div>
    </div>
</div>
