<div class="container" id="products">
    <div class="row" style="padding: 20px 0;">
        <div class="col-md-5">
            <h3>Ventas</h3>
        </div>
        <div class="col-md-7">
            <div class="search-form pull-right">
                <form ng-submit="ctrl.init()">
                    <input type="text" placeholder="B&uacute;sca ventas" ng-model="ctrl.query">
                    <span>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-if="ctrl.payments.length === 0 && !ctrl.query">
            <div class="alert alert-info" role="alert">
                No se registran ventas</a>.
            </div>
        </div>
        <div class="col-md-12" ng-if="ctrl.payments.length === 0 && ctrl.query">
            <div class="alert alert-info" role="alert">
                No existen ventas que coincidan con tu búsqueda.
            </div>
        </div>
        <div class="col-md-12" ng-if="ctrl.params.created">
            <div class="alert alert-success" role="alert">
                Venta actualizada correctamente.
            </div>
        </div>
        <div class="col-md-12" ng-repeat="payment in ctrl.payments">
            <div class="category-item">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <span class="title">#{{payment.id}} - {{payment.product.name}}</span>
                            <span class="state {{payment.state.toLowerCase()}}">{{ctrl.getPaymentState(payment)}}</span>
                        </div>
                        <ul class="pull-right">
                            <li ui-sref="payment-detail({id: payment.id})">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 more-button" ng-if="!ctrl.last">
            <a class="btn-lg btn-primary" ng-click="ctrl.loadMorePayments()">Mostrar más</a>
        </div>
    </div>
</div>
