<div id="home"  style="padding-top: 20px">
    <div class="container">
<div class="col-md-12 products">
        <div class="row">
            <div class="float-label">
                <span>Destacados</span>
            </div>
            <div class="product col-md-3"  ng-repeat="item in home.entity.destacados">
                <img ng-src="{{item.image}}">
                <span >{{item.title}}</span>
                <p>${{item.price}}</p>
                <div class="overlay">
                    <a>Ver mas</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>