<div id="home">
    <div uib-carousel active="home.active" interval="home.myInterval">
        <div uib-slide index="0" style="background-image: url('black-bg.jpg');"></div>
        <div uib-slide index="1" style="background-image: url('white-bg.jpg');"></div>
    </div>
    <div class="container">
        <div class="col-md-12 products">
            <div class="row">
                <div class="float-label">
                    <span>Destacados</span>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/785221-MLA20748837164_062016-O.jpg">
                    <span>SMART TV Led 32</span>
                    <p>$400</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/313121-MLA20717004267_052016-O.jpg">
                    <span>Baby Call</span>
                    <p>$299</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/754101-MLA20278315510_042015-O.jpg">
                    <span>Masajeador</span>
                    <p>$560</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/504711-MLA20609465620_022016-O.jpg">
                    <span>Otro TV</span>
                    <p>$40077</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 products">
            <div class="row">
                <div class="float-label">
                    <span>Destacados</span>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/785221-MLA20748837164_062016-O.jpg">
                    <span>SMART TV Led 32</span>
                    <p>$400</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/313121-MLA20717004267_052016-O.jpg">
                    <span>Baby Call</span>
                    <p>$299</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/754101-MLA20278315510_042015-O.jpg">
                    <span>Masajeador</span>
                    <p>$560</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/504711-MLA20609465620_022016-O.jpg">
                    <span>Otro TV</span>
                    <p>$40077</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 products">
            <div class="row">
                <div class="float-label">
                    <span>Destacados</span>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/785221-MLA20748837164_062016-O.jpg">
                    <span>SMART TV Led 32</span>
                    <p>$400</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/313121-MLA20717004267_052016-O.jpg">
                    <span>Baby Call</span>
                    <p>$299</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/754101-MLA20278315510_042015-O.jpg">
                    <span>Masajeador</span>
                    <p>$560</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/504711-MLA20609465620_022016-O.jpg">
                    <span>Otro TV</span>
                    <p>$40077</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
