<div id="home">
    <div uib-carousel active="home.active" interval="home.myInterval">
        <div uib-slide ng-repeat="carousel in home.carousels track by $index" index="$index" style="{{home.getUrl(carousel)}}">
            <img ng-src="{{carousel.principalImage.url}}" class="animated fadeInLeftBig"/>
            <a href="{{carousel.titleUrl}}" class="header animated fadeInUp">{{carousel.title}}</a>
            <a href="{{carousel.subtitleUrl}}" class="sub-header animated fadeInRight">{{carousel.subtitle}}</a>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 products">
            <div class="row">
                <div class="float-label">
                    <span ui-sref="home-categories({id:1})">Destacados</span>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/785221-MLA20748837164_062016-O.jpg">
                    <span>SMART TV Led 32</span>
                    <p>$400</p>
                    <div class="overlay">
                        <a ui-sref="item({id: null})">Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/313121-MLA20717004267_052016-O.jpg">
                    <span>Baby Call</span>
                    <p>$299</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/754101-MLA20278315510_042015-O.jpg">
                    <span>Masajeador</span>
                    <p>$560</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/504711-MLA20609465620_022016-O.jpg">
                    <span>Otro TV</span>
                    <p>$40077</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 products">
            <div class="row">
                <div class="float-label">
                    <span>Electr&oacute;nica</span>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/588611-MLA20609453145_022016-O.jpg">
                    <span>PC All in one</span>
                    <p>$400</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/228511-MLA20591316705_022016-O.jpg">
                    <span>Tablet 2 en 1</span>
                    <p>$299</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/802221-MLA20716356572_052016-O.jpg">
                    <span>Cámara de seguridad</span>
                    <p>$560</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/424801-MLA20406424923_092015-O.jpg">
                    <span>Home 2.1</span>
                    <p>$40077</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 products">
            <div class="row">
                <div class="float-label">
                    <span>Electrodom&eacute;sticos</span>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/22503-MLA20231581794_012015-O.jpg">
                    <span>Freezer vertical</span>
                    <p>$400</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/22509-MLA20231486167_012015-O.jpg">
                    <span>Freezer vertical</span>
                    <p>$299</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s2-p.mlstatic.com/425311-MLA20533542889_122015-O.jpg">
                    <span>Batidora</span>
                    <p>$560</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="product col-md-3">
                    <img ng-src="http://mla-s1-p.mlstatic.com/635111-MLA20484604421_112015-O.jpg">
                    <span>Horno eléctrico pizzero</span>
                    <p>$40077</p>
                    <div class="overlay">
                        <a>Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 products" ng-repeat="tag in home.tags">
            <div class="row">
                <div class="float-label">
                    <span ui-sref="home-categories({id: tag.id})">{{tag.name}}</span>
                </div>
                <div class="product col-md-3" ng-repeat="product in tag.products">
                    <img ng-src="{{product.principalImage.url}}">
                    <span>{{product.name}}</span>
                    <p>${{product.price}}</p>
                    <div class="overlay">
                        <a ui-sref="item({id: product.id})">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
