<div id="home">
    <div uib-carousel active="home.active" interval="home.myInterval" no-pause="true">
        <div uib-slide ng-repeat="carousel in home.carousels track by $index" index="$index" style="{{home.getUrl(carousel)}}">
            <img ng-src="{{carousel.principalImage.url}}" class="animated fadeInLeftBig"/>
            <a href="{{carousel.titleUrl}}" class="header animated fadeInUp">{{carousel.title}}</a>
            <a href="{{carousel.subtitleUrl}}" class="sub-header animated fadeInRight">{{carousel.subtitle}}</a>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 products" ng-repeat="tag in home.tags">
            <div class="row">
                <div class="float-label">
                    <span ui-sref="home-categories({id: tag.id})">{{tag.name}}</span>
                </div>
                <div class="product col-md-3" ng-repeat="product in tag.products">
                    <img ng-src="{{product.principalImage.url}}">
                    <span>{{product.name}}</span>
                    <p>${{product.price}}</p>
                    <div class="overlay">
                        <a ui-sref="item({id: product.id})">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
