<div class="container" id="category-detail">
    <div class="header row">
        <div class="col-md-6">
            <h3 ng-if="ctrl.isNew()">Crear categor&iacute;a</h3>
            <h3 ng-if="!ctrl.isNew()">Editar categor&iacute;a</h3>
        </div>
    </div>
    <div class="row" ng-if="ctrl.updated">
       <div class="col-md-12">
           <div class="alert alert-success" role="alert">
               Categoría actualizada correctamente.
           </div>
       </div>
    </div>
    <div class="row" ng-if="ctrl.error">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                {{ctrl.error}}.
            </div>
        </div>
    </div>
    <div class="row" ng-if="!ctrl.error">
        <form
            name="categoryForm"
            ng-submit="ctrl.save(categoryForm)"
            novalidate autocomplete="off">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input ng-class="{'invalid': (categoryForm.name.$invalid && categoryForm.name.$touched) || (categoryForm.$submitted && categoryForm.name.$invalid)}"
                        type="text"
                        class="form-control"
                        required=""
                        id="name"
                        placeholder="L&iacute;nea blanca"
                        name="name"
                        ng-model="ctrl.entity.name">
                    <div ng-messages="categoryForm.name.$error" ng-if="categoryForm.$submitted || categoryForm.name.$touched">
                        <span class="error" ng-message="required">El nombre es requerido.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Descripci&oacute;n</label>
                    <input ng-class="{'invalid': (categoryForm.description.$invalid && categoryForm.description.$touched) || (categoryForm.$submitted && categoryForm.description.$invalid)}"
                        type="text"
                        class="form-control"
                        required=""
                        id="description"
                        placeholder="Electrodom&eacute;sticos de cocina y lavadero."
                        name="description"
                        ng-model="ctrl.entity.description">
                    <div ng-messages="categoryForm.description.$error" ng-if="categoryForm.$submitted || categoryForm.description.$touched">
                        <span class="error" ng-message="required">La descripci&oacute;n es requerida.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-if="!ctrl.isNew()">
                <div class="form-group">
                    <label for="description">Destacar categoria?</label>
                    <div class="checkbox-group">
                        <div
                            class="checkbox"
                            style=""
                            ng-click="ctrl.entity.highlight = !ctrl.entity.highlight">
                            <span class="fa fa-check" style="padding: 4px 0 0 0;" ng-class="{'fa-check':ctrl.entity.highlight, 'fa-times':!ctrl.entity.highlight}"></span>
                        </div>
                        <span ng-if="ctrl.entity.highlight">SI</span>
                        <span ng-if="!ctrl.entity.highlight">NO</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-if="!ctrl.isNew() && ctrl.entity.highlight">
                <div class="row">
                    <div class="col-md-6">
                        <label>Seleccione los productos a destacar.</label><br>
                    </div>
                    <div class="col-md-6 pull-right">
                        <label ng-if="ctrl.getSelectedProducts().length < 4">Has seleccionado {{ctrl.getSelectedProducts().length}} productos</label>
                        <label ng-if="ctrl.getSelectedProducts().length >= 4" class="error">Solo puedes seleccionar hasta 4 productos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 product-list" ng-repeat="product in ctrl.categoryProducts">
                        <div class="category-item" ng-class="{'toggled': product.highlight}" ng-click="ctrl.toggleProduct(product)">
                            <img ng-src="{{product.principalImage.url}}"/>
                            <span>{{product.name}}</span>
                        </div>
                    </div>

                    <div class="col-md-12 more-button" ng-if="!ctrl.last">
                        <a class="btn-lg btn-primary" ng-click="ctrl.loadMoreProducts()">Mostrar más</a>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group clearfix">
                    <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
