<div class="container" id="category-detail">
    <div class="header row">
        <div class="col-md-6">
            <h3 ng-if="ctrl.isNew()">Crear categor&iacute;a</h3>
            <h3 ng-if="!ctrl.isNew()">Editar categor&iacute;a</h3>
        </div>
    </div>
    <div class="row" ng-if="ctrl.updated">
       <div class="col-md-12">
           <div class="alert alert-success" role="alert">
               Categoría actualizada correctamente.
           </div>
       </div>
    </div>
    <div class="row">
        <form
            name="categoryForm"
            ng-submit="ctrl.save(categoryForm)"
            novalidate autocomplete="off">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input
                        type="text"
                        class="form-control"
                        required=""
                        id="name"
                        placeholder="L&iacute;nea blanca"
                        name="name"
                        ng-model="ctrl.entity.name">
                    <div ng-messages="categoryForm.name.$error" ng-if="categoryForm.$touched || categoryForm.name.$touched">
                        <span class="error" ng-message="required">El nombre es requerido.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Descripci&oacute;n</label>
                    <input
                        type="text"
                        class="form-control"
                        required=""
                        id="description"
                        placeholder="Electrodom&eacute;sticos de cocina y lavadero."
                        name="description"
                        ng-model="ctrl.entity.description">
                    <div ng-messages="categoryForm.description.$error" ng-if="categoryForm.$touched || categoryForm.description.$touched">
                        <span class="error" ng-message="required">La descripci&oacute;n es requerida.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-if="!ctrl.isNew()">
                <div class="form-group">
                    <label for="description">Destacar categoria?</label>
                    <div class="checkbox-group">
                        <div
                            class="checkbox"
                            style="width: 25px; height: 25px; border: 1px #CECECE solid; border-radius: 2px; text-align: center; display: inline-block; margin: 0 10px 0 0; cursor: pointer;"
                            ng-click="ctrl.entity.highlight = !ctrl.entity.highlight">
                            <span class="fa fa-check" style="padding: 4px 0 0 0;" ng-class="{'fa-check':ctrl.entity.highlight, 'fa-times':!ctrl.entity.highlight}"></span>
                        </div>
                        <span ng-if="ctrl.entity.highlight">SI</span>
                        <span ng-if="!ctrl.entity.highlight">NO</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-if="!ctrl.isNew() && ctrl.entity.highlight">
                <div class="row">
                    <div class="col-md-12">
                        <label>Seleccione los productos a destacar.</label>
                    </div>
                    <div class="col-md-2 product-list" ng-repeat="product in ctrl.categoryProducts">
                        <div class="category-item" ng-class="{'toggled': product.highlight}" ng-click="product.highlight = !product.highlight">
                            <img ng-src="{{product.principalImage.url}}"/>
                            <span>{{product.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group clearfix">
                    <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
