<div class="container" id="categories">
    <div class="row" style="padding: 20px 0;">
        <div class="col-md-6">
            <h3>Categor&iacute;as</h3>
        </div>
        <div class="col-md-6">

            <a class="btn-lg btn-primary pull-right"
               ui-sref="categories-detail({id: null})">Nueva categor&iacute;a</a>

            <div class="search-form pull-right">
                <form ng-submit="ctrl.init()">
                    <input type="text" placeholder="B&uacute;sca categorías" ng-model="ctrl.query">
                    <span>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-if="ctrl.categories.length === 0 && !ctrl.query">
            <div class="alert alert-info" role="alert">
                No existen categor&iacute;as creadas, por favor cree una <a ui-sref="categories-detail({id: null})">aqu&iacute;</a>.
            </div>
        </div>
        <div class="col-md-12" ng-if="ctrl.categories.length === 0 && ctrl.query">
            <div class="alert alert-info" role="alert">
                No existen categor&iacute;as que coincidan con tu búsqueda.
            </div>
        </div>
        <div class="col-md-12" ng-if="ctrl.params.created">
            <div class="alert alert-success" role="alert">
                Categoría creada correctamente.
            </div>
        </div>
        <div class="col-md-6" ng-repeat="category in ctrl.categories">
            <div class="category-item">
                <div class="row">
                    <div class="col-md-6">
                        <span class="title">{{category.name}}</span>
                        <span>{{category.description}}</span>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li ui-sref="categories-detail({id: category.id})">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </li>
                            <li ng-click="ctrl.expand(category)"
                                uib-tooltip="La categoría posee productos"
                                tooltip-placement="left-top"
                                tooltip-enable="ctrl.isDisabled(category)"
                                ng-class="{'disabled': ctrl.isDisabled(category)}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <i>{{category.totalProducts}} producto(s) en esta categoría.</i>
                    </div>
                </div>
                <div class="row delete-form" uib-collapse="!category.show">
                    <div class="col-md-6">
                        <label class="title">Estás seguro de borrar esta categoría?</label>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li ng-click="category.show = false">NO</li>
                            <li class="primary" ng-click="ctrl.delete(category)">SI</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 more-button" ng-if="!ctrl.last">
            <a class="btn-lg btn-primary" ng-click="ctrl.loadMoreCategories()">Mostrar más</a>
        </div>
    </div>
</div>
