<div class="main-header clearfix">
    <div class="container">
        <span class="pull-left" style="color:#FFFFFF; font-weight: bolder; font-size: 3rem; padding: 15px 0 0 0;">E-Partner Shop</span>
        <ul class="pull-right">
            <li
                style="width: 80px; display: inline-block; padding: 20px 0; font-size: 2.5rem;">
                <a>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </li>
            <li style="width: 80px; display: inline-block; padding: 20px 0; font-size: 2.5rem;">
                <a>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="menu clearfix">
    <div class="container">
        <ul class="pull-left">
            <li style="width: 100px; display: inline-block; padding: 15px 0; font-size: 1.3rem; text-transform: uppercase; font-weight: bolder; border-bottom: 3px #F38617 solid; margin: 0 15px 0 0; background-color: #424242">
                <a>
                    Home
                </a>
            </li>
            <li style="width: 100px; display: inline-block; padding: 15px 0; font-size: 1.3rem; text-transform: uppercase; font-weight: bolder">
                <a ui-sref="categories()">
                    Categorias
                </a>
            </li>
            <li style="width: 100px; display: inline-block; padding: 15px 0; font-size: 1.3rem; text-transform: uppercase; font-weight: bolder">
                <a ui-sref="products()">
                    Productos
                </a>
            </li>
        </ul>

        <ul class="pull-right log-in">
            <li
                ng-if="!header.authService.isAuthenticated()"
                style="border-bottom: 3px #DCDCDC solid; width: 100px; display: inline-block; padding: 15px 0; font-size: 1.3rem; font-weight: bolder;">
                <a ng-click="header.authService.login()">Ingresar</a>
            </li>
            <li
                ng-if="header.authService.isAuthenticated()"
                style="border-bottom: 3px #DCDCDC solid; width: 100px; display: inline-block; padding: 15px 0; font-size: 1.3rem; font-weight: bolder;">
                <a ui-sref="admin()">Hola admin!</a>
            </li>
        </ul>
    </div>
</div>