<div class="main-header clearfix">
    <div class="container">
        <a ui-sref="home()"><img class="pull-left" src="e-partner-white.png" /></a>
        <ul class="pull-right">
            <li><a><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            <li><a class="search">
                <i class="fa fa-search" aria-hidden="true" ng-click="header.search = !header.search;"></i>
            </a></li>
        </ul>
        <div class="search-form pull-right animated" ng-class="{'fadeInDown': header.search, 'fadeOutUp': !header.search}">
            <input type="text" placeholder="B&uacute;sca productos">
            <span ng-click="header.search = !header.search;">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</div>
<div class="menu clearfix">
    <div class="container">
        <ul class="pull-left">
            <li ui-sref="home()" ui-sref-active="active"><a>Inicio</a></li>
            <li ui-sref="categories()" ui-sref-active="active"><a>Categorias</a></li>
            <li ui-sref="products()" ui-sref-active="active"><a>Productos</a></li>
        </ul>

        <ul class="pull-right log-in">
            <li ng-if="!header.authService.isAuthenticated()">
                <a ng-click="header.authService.login()">Ingresar</a>
            </li>
            <li ng-if="header.authService.isAuthenticated()">
                <a ui-sref="admin()">Hola admin!</a>
            </li>
        </ul>
    </div>
</div>