<section id="" class="">
    <ol class="breadcrumb">
        <li class="hidden-xs"><a href="#">Home</a></li>
    </ol>
    <form class="custom">
        <div class="col-md-offset-1 row ">
            <h2 class="col-md-5 animated fadeInLeftBig ng-scope">Tv Led 32 Tcl Sint Digital Hd Usb Hdmi Mod. Tc
                32d2700</h2>
        </div>
        <div class="row">
            <div>
                <div class="col-xs-12 col-sm-6">
                    <div>
                        <!-- Wrapper for slides -->
                        <div>
                            <div id="example1" data-ng-magnify
                                 data-image-width="200"
                                 data-image-height="300"
                                 data-glass-width="400"
                                 data-glass-height="400"
                                 data-image-src="img/nexus5.jpg"
                            ></div>
                            <div>
                                <div data-lg="http://mla-s1-p.mlstatic.com/785221-MLA20748837164_062016-O.jpg"
                                     data-ng-magnify
                                     id="example2"
                                     style="position: relative; overflow: hidden;">

                                    <img class="animated fadeInLeftBig ng-scope"
                                         data-ng-magnify
                                         alt=""
                                         src="http://mla-s1-p.mlstatic.com/785221-MLA20748837164_062016-O.jpg">

                                    <img src="http://mla-s1-p.mlstatic.com/785221-MLA20748837164_062016-O.jpg"
                                         class=""
                                         style="position: absolute; top: -36.2727px; left: -337.446px; width: 1270px; height: 1270px; border: none; max-width: none; max-height: none; opacity: 0;">
                                </div>
                            </div>
                            <!--<div class="item " id="slide2">-->
                            <!--<div data-lg="//dd6vif294zh3b.cloudfront.net/store-boxie-5398d8498b7b0/uploaded/thumbnails/BlueHeadphones2_1270xauto-jpg-keep-ratio.png?1402671891" class="product-img-zoom" style="position: relative; overflow: hidden;">-->
                            <!--<img class="img-responsive" alt="" src="//dd6vif294zh3b.cloudfront.net/store-boxie-5398d8498b7b0/uploaded/thumbnails/BlueHeadphones2_610xauto-jpg-keep-ratio.png?1402671892" itemprop="image">-->
                            <!--<img src="//dd6vif294zh3b.cloudfront.net/store-boxie-5398d8498b7b0/uploaded/thumbnails/BlueHeadphones2_1270xauto-jpg-keep-ratio.png?1402671891" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1270px; height: 1270px; border: none; max-width: none; max-height: none;"></div>-->
                            <!--</div>-->
                        </div>

                        <!-- Indicators -->
                        <ol class="list-inline">

                            <li data-target=""
                                data-slide-to=""
                                class="">
                                <img class=""
                                     alt=""
                                     src="http://mla-s1-p.mlstatic.com/785221-MLA20748837164_062016-O.jpg"
                                     style="max-width: 80px;">
                            </li>

                            <li data-target="#product-gallery"
                                data-slide-to="1"
                                class="">

                                <img class=""
                                     alt=""
                                     src="http://mla-d1-p.mlstatic.com/tv-led-32-tcl-sint-digital-hd-usb-hdmi-mod-tc-32d2700-214221-MLA20748835912_062016-O.webp?square=false"
                                     style="max-width: 80px;">
                            </li>
                        </ol>

                    </div>
                </div>

                <!--<div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="img-modalLabel" aria-hidden="true">-->
                <!--<div class="modal-dialog modal-xl">-->
                <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                <!--<h4></h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                <!--<img class="img-responsive">-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>

            <div>
                <div class="col-sm-6">
                    <div class="animated fadeInUp">
                        <h2>
                            $400.00
                        </h2>
                    </div>
                    <div class="animated fadeInRightBig">
                        Breve descripcion del Producto
                    </div>
                    <div class="form-group">

                        <!--<div class="quantity-selector">-->
                        <!--<button class="quantity-btn minus btn btn-lg btn-default"><i class="fa fa-minus"></i></button>-->
                        <!--<input class="form-control quantity" type="text" value="1" name="quantity">-->
                        <!--<button class="quantity-btn plus btn btn-lg btn-default"><i class="fa fa-plus"></i></button>-->
                        <!--</div>-->
                        <label class="cart animated fadeInRight">Comprar <i class="fa fa-shopping-cart"></i></label>
                    </div>
                    <div>
                        <h6>Compartir esta publicacion.</h6>
                        <ul class="inline list-inline">
                            <li class="facebook sharrre"><a href="#" title="" data-original-title="Facebook: 0"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li class="twitter sharrre"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>