<div class="container" style="background: #fbfbfb;">
    <h2 class="col-md-12 animated fadeInLeftBig">{{item.entity.title}}</h2>
    <div class="col-md-5 animated fadeInLeftBig">
        <div style="width: 100%; height: 350px; object-fit: cover;"
             data-ng-magnify
             data-glass-width="200"
             data-glass-height="200"
             data-image-src="{{item.entity.currentImage}}">
        </div>
    </div>
    <div class="col-md-7">
        <div class="animated fadeInUp"><h2>${{item.entity.price}}</h2></div>
        <div class="animated fadeInRightBig" style="color: #666666">{{item.entity.description}}</div>
        <a style="margin: 20px 0" class="btn btn-lg btn-primary animated fadeInRight">Comprar <i class="fa fa-shopping-cart"></i></a>
        <h3>Caracteristicas</h3>
        <div class="table-responsive" ng-repeat="technicalSpec in item.entity.technicalSpecifications">
            <ul>
             <li>{{technicalSpec}}</li>
         </ul>
        </div>
        <h6>Compartir esta publicacion.</h6>
        <ul class="inline list-inline">
            <li class="facebook sharrre"><a href="#" title="" data-original-title="Facebook: 0"><i
                    class="fa fa-facebook"></i></a></li>
            <li class="twitter sharrre"><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
    <div class="col-md-12" style="padding: 20px 15px">
        <img class=""
             alt=""
             ng-repeat="img in item.entity.images"
             ng-src="{{img}}"
             ng-click="item.entity.currentImage = img"
             style="border:1px #ccc solid; cursor: pointer; max-width: 120px;">
    </div>
</div>