<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>E-Partner Shop | Login</title>

    <!-- Vendor CSS -->
    <link href="css/animate.min.css" rel="stylesheet" />
    <link href="css/material-design-iconic-font.min.css" rel="stylesheet" />

    <!-- CSS -->
    <link href="css/app.min.1.css" rel="stylesheet" />
    <link href="css/app.min.2.css" rel="stylesheet" />
</head>

<body class="login-content">

    <form method="" action="" class="lc-block toggled" id="l-login" autocomplete="off">
        <h3>Actualzado! Te enviaremos un mail con tu nueva contraseña.</h3>
    </form>

    <!-- Javascript Libraries -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/waves.min.js"></script>
    <script src="js/functions.js"></script>
</body>
</html>