<div class="container" id="products-import">

    <div class="col-md-12" style="padding: 30px 15px 0 15px;">
        <div class="row">
            <div class="col-md-12">
                <ul class="config-list">
                    <li><span class="circled"><i class="glyphicon glyphicon-ok"></i></span> Éxito! Su cuenta se encuentra configurada correctamente</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12 more-button">
                    <a class="btn-lg btn-primary" ui-sref="products-import()">Importar</a>
                </div>
            </div>
        </div>
    </div>

</div>
