<div class="container" id="products-import">

    <div class="col-md-12" style="padding: 30px 15px 0 15px;">
        <div class="row">
            <div class="col-md-12">
                <h3>Vamos a configurar su cuenta de mercado libre.</h3>
            </div>
            <div class="col-md-12">
                <ul class="config-list">
                    <li><span class="circled">1</span> Vas a logearte en tu cuenta de MercadoLibre</li>
                    <li><span class="circled">2</span> Vas a autorizar a la aplicación para acceder a tu cuenta</li>
                    <li><span class="circled">3</span> Listo!</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12 more-button">
                    <a class="btn-lg btn-primary" ng-click="ctrl.loadMoreProducts()">Comenzar</a>
                </div>
            </div>
        </div>
    </div>

</div>
