<div class="container" id="product-detail">
    <div class="header row">
        <div class="col-md-6">
            <h3 ng-if="ctrl.isNew()">Crear producto</h3>
            <h3 ng-if="!ctrl.isNew()">Editar producto</h3>
        </div>
        <div class="col-md-6">
            <a class="btn-lg btn-primary pull-right"
               ui-sref="categories-detail({id: null})">Crear categoría</a>
        </div>
    </div>
    <div class="row" ng-if="ctrl.updated">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                Producto actualizado correctamente.
            </div>
        </div>
    </div>
    <div class="row" ng-if="ctrl.entity.imported">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                El producto fue importado y algunas características no pueden ser editadas.
            </div>
        </div>
    </div>
    <div class="row" ng-if="ctrl.error">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                {{ctrl.error}}.
            </div>
        </div>
    </div>

    <form name="productForm" ng-submit="ctrl.save(productForm)" novalidate autocomplete="off">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input ng-class = "{'invalid': (productForm.name.$invalid && productForm.name.$touched) || (productForm.$submitted && productForm.name.$invalid)}"
                        type="text"
                        ng-disabled="ctrl.entity.imported"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Nombre"
                        required=""
                        ng-model="ctrl.entity.name">
                    <div ng-messages="productForm.name.$error" ng-show="productForm.name.$touched || productForm.$submitted">
                        <span class="error" ng-message="required">El nombre es requerido.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="category">Categoria</label>
                    <input ng-class = "{'invalid': (productForm.category.$invalid && productForm.category.$touched) || (productForm.$submitted && productForm.category.$invalid)}"
                        id="category"
                        type="text"
                        name="category"
                        required=""
                        placeholder="Elija la categoría"
                        ng-model="ctrl.entity.category" ng-keypress="ctrl.loadCategories($viewModel)"
                        uib-typeahead="category as category.name for category in ctrl.categories | filter:$viewValue | limitTo: 10 "
                        typeahead-editable="false" typeahead-show-hint="true" typeahead-min-length="0"
                           class="form-control">
                    <div ng-messages="productForm.category.$error" ng-show="productForm.category.$touched || productForm.$submitted">
                        <span class="error" ng-message="required">La categor&iacute;a es requerida.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input ng-class = "{'invalid': (productForm.stock.$invalid && productForm.stock.$touched) || (productForm.$submitted && productForm.stock.$invalid)}"
                        type="number"
                        class="form-control"
                        ng-disabled="ctrl.entity.imported"
                        id="stock"
                        name="stock"
                        required=""
                        placeholder="Stock"
                        ng-model="ctrl.entity.stock">
                    <div ng-messages="productForm.stock.$error" ng-if="productForm.stock.$touched || productForm.$submitted">
                        <span class="error" ng-message="required">El stock es requerido.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Precio</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input ng-class = "{'invalid': (productForm.price.$invalid && productForm.price.$touched) || (productForm.$submitted && productForm.price.$invalid)}"
                            type="number"
                            class="form-control"
                            id="price"
                            ng-disabled="ctrl.entity.imported"
                            name="price"
                            placeholder="Precio"
                            required=""
                            ng-model="ctrl.entity.price">
                    </div>
                    <div ng-messages="productForm.price.$error" ng-if="productForm.$submitted || productForm.price.$touched">
                        <span class="error" ng-message="required">El Precio es requerido.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-repeat="technicalSpecification in ctrl.entity.technicalSpecifications track by $index">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="technicalDescription_{{$index}}" ng-show="$index === 0">Especificación Técnica</label>
                            <input type="hidden" ng-model="technicalSpecification.id">
                            <input ng-class = "{'invalid': (productForm['technicalDescription_' + $index].$invalid && productForm['technicalDescription_' + $index].$touched) || (productForm.$submitted && productForm['technicalDescription_' + $index].$invalid)}"
                                type="text"
                                class="form-control"
                                id="technicalDescription_{{$index}}"
                                name="technicalDescription_{{$index}}"
                                placeholder="T&iacute;tulo"
                                ng-disabled="ctrl.entity.imported"
                                required=""
                                ng-model="technicalSpecification.key">
                            <div ng-messages="productForm['technicalDescription_' + $index].$error" ng-if="productForm.$submitted || productForm['technicalDescription_' + $index].$touched">
                                <span class="error" ng-message="required">Campo requerido.</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div
                                class="input-group"
                                ng-class="{'labeled':$index === 0}">
                                <input ng-class = "{'invalid': (productForm['technicalDescriptionValue_' + $index].$invalid && productForm['technicalDescriptionValue_' + $index].$touched) || (productForm.$submitted && productForm['technicalDescriptionValue_' + $index].$invalid)}"
                                    type="text"
                                    class="form-control"
                                    id="technicalDescriptionValue_{{$index}}"
                                    name="technicalDescriptionValue_{{$index}}"
                                    placeholder="Valor"
                                    ng-disabled="ctrl.entity.imported"
                                    required=""
                                    ng-model="technicalSpecification.value">
                                <span class="input-group-btn">
                                    <button
                                        ng-click="ctrl.removeTechnicalSpecification($index)"
                                        class="btn btn-primary"
                                        type="button"
                                        ng-if="ctrl.entity.technicalSpecifications.length > 1"><span class="glyphicon glyphicon-minus"></span></button>
                                    <button
                                        ng-click="ctrl.addTechnicalSpecification()"
                                        class="btn btn-primary"
                                        type="button"
                                        ng-if="$index === ctrl.entity.technicalSpecifications.length -1"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </div>
                            <div ng-messages="productForm['technicalDescriptionValue_' + $index].$error" ng-if="productForm.$submitted || productForm['technicalDescriptionValue_' + $index].$touched">
                                <span class="error" ng-message="required">Campo requerido.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">Publicar producto?</label>
                    <div class="checkbox-group">
                        <div
                            class="checkbox"
                            style="width: 25px; height: 25px; border: 1px #CECECE solid; border-radius: 2px; text-align: center; display: inline-block; margin: 0 10px 0 0; cursor: pointer;"
                            ng-click="ctrl.entity.published = !ctrl.entity.published">
                            <span class="fa fa-check" style="padding: 4px 0 0 0;" ng-class="{'fa-check':ctrl.entity.published, 'fa-times':!ctrl.entity.published}"></span>
                        </div>
                        <span ng-if="ctrl.entity.published">SI</span>
                        <span ng-if="!ctrl.entity.published">NO</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">Descripci&oacute;n</label>
                    <textarea ng-class = "{'invalid': (productForm.description.$invalid && productForm.description.$touched) || (productForm.$submitted && productForm.description.$invalid)}"
                        class="form-control"
                        id="description"
                        name="description"
                        ng-disabled="ctrl.entity.imported"
                        required=""
                        style="resize: none;"
                        placeholder="Descripci&oacute;n"
                        ng-model="ctrl.entity.description">
                    </textarea>
                    <div ng-messages="productForm.description.$error" ng-if="productForm.$submitted || productForm.description.$touched">
                        <span class="error" ng-message="required">La descripción es requerida.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div
                        class="picture-select"
                        ng-class = "{'invalid': productForm.$submitted && !ctrl.principalPic}"
                        ngf-select
                        ng-if="!ctrl.principalPic && !ctrl.currentPrincipalPic"
                        ng-model="ctrl.principalPic"></div>
                    <img
                        class="picture-select"
                        ngf-select
                        ng-if="ctrl.principalPic"
                        ng-model="ctrl.principalPic"
                        ng-src="{{ctrl.principalPic}}"
                        ng-disabled="ctrl.entity.imported"
                        ngf-src="ctrl.principalPic"/>
                    <img
                        class="picture-select"
                        ng-if="ctrl.currentPrincipalPic.url && !ctrl.principalPic"
                        ngf-select
                        ng-disabled="ctrl.entity.imported"
                        ng-model="ctrl.principalPic"
                        ng-src="{{ctrl.currentPrincipalPic.url}}"/>
                    <div ng-if="productForm.$submitted && !ctrl.principalPic">
                        <span class="error">La imágen es requerida.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10 pictures-container">
                <!-- Image 1 -->
                <div
                    class="pictures-select"
                    ngf-select
                    ng-if="!ctrl.pictures[0] && !ctrl.currentPics[0]"
                    ng-model="ctrl.pictures[0]"></div>
                <img
                    class="pictures-select"
                    ngf-select
                    ng-if="ctrl.pictures[0]"
                    ng-model="ctrl.pictures[0]"
                    ngf-src="ctrl.pictures[0]"/>
                <img
                    class="pictures-select"
                    ng-if="ctrl.currentPics[0] && !ctrl.pictures[0]"
                    ngf-select
                    ng-model="ctrl.pictures[0]"
                    ng-src="{{ctrl.currentPics[0].url}}"/>
                <!-- Image 2 -->
                <div
                    class="pictures-select"
                    ngf-select
                    ng-if="!ctrl.pictures[1] && !ctrl.currentPics[1]"
                    ng-model="ctrl.pictures[1]"></div>
                <img
                    class="pictures-select"
                    ngf-select
                    ng-if="ctrl.pictures[1]"
                    ng-model="ctrl.pictures[1]"
                    ngf-src="ctrl.pictures[1]"/>
                <img
                    class="pictures-select"
                    ng-if="ctrl.currentPics[1] && !ctrl.pictures[1]"
                    ngf-select
                    ng-model="ctrl.pictures[1]"
                    ng-src="{{ctrl.currentPics[1].url}}"/>
                <!-- Image 3 -->
                <div
                    class="pictures-select"
                    ngf-select
                    ng-if="!ctrl.pictures[2] && !ctrl.currentPics[2]"
                    ng-model="ctrl.pictures[2]"></div>
                <img
                    class="pictures-select"
                    ngf-select
                    ng-if="ctrl.pictures[2]"
                    ng-model="ctrl.pictures[2]"
                    ngf-src="ctrl.pictures[2]"/>
                <img
                    class="pictures-select"
                    ng-if="ctrl.currentPics[2] && !ctrl.pictures[2]"
                    ngf-select
                    ng-model="ctrl.pictures[2]"
                    ng-src="{{ctrl.currentPics[2].url}}"/>
                <!-- Image 4 -->
                <div
                    class="pictures-select"
                    ngf-select
                    ng-if="!ctrl.pictures[3] && !ctrl.currentPics[3]"
                    ng-model="ctrl.pictures[3]"></div>
                <img
                    class="pictures-select"
                    ngf-select
                    ng-if="ctrl.pictures[3]"
                    ng-model="ctrl.pictures[3]"
                    ngf-src="ctrl.pictures[3]"/>
                <img
                    class="pictures-select"
                    ng-if="ctrl.currentPics[3] && !ctrl.pictures[3]"
                    ngf-select
                    ng-model="ctrl.pictures[3]"
                    ng-src="{{ctrl.currentPics[3].url}}"/>
                <!-- Image 5 -->
                <div
                    class="pictures-select"
                    ngf-select
                    ng-if="!ctrl.pictures[4] && !ctrl.currentPics[4]"
                    ng-model="ctrl.pictures[4]"></div>
                <img
                    class="pictures-select"
                    ngf-select
                    ng-if="ctrl.pictures[4]"
                    ng-model="ctrl.pictures[4]"
                    ngf-src="ctrl.pictures[4]"/>
                <img
                    class="pictures-select"
                    ng-if="ctrl.currentPics[4] && !ctrl.pictures[4]"
                    ngf-select
                    ng-model="ctrl.pictures[4]"
                    ng-src="{{ctrl.currentPics[4].url}}"/>
                <!-- Image 6 -->
                <div
                    class="pictures-select"
                    ngf-select
                    ng-if="!ctrl.pictures[5] && !ctrl.currentPics[5]"
                    ng-model="ctrl.pictures[5]"></div>
                <img
                    class="pictures-select"
                    ngf-select
                    ng-if="ctrl.pictures[5]"
                    ng-model="ctrl.pictures[5]"
                    ngf-src="ctrl.pictures[5]"/>
                <img
                    class="pictures-select"
                    ng-if="ctrl.currentPics[5] && !ctrl.pictures[5]"
                    ngf-select
                    ng-model="ctrl.pictures[5]"
                    ng-src="{{ctrl.currentPics[5].url}}"/>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
